#power {
    padding: 0 1rem;
}

#custom-ubuntu {
    color: orange;
}

#custom-shutdown {
    color: red;
    margin: 0 0.5rem;
}

#custom-reboot {
    color: yellow;
    margin: 0 0.5rem;
}

#custom-logout {
    color: green;
    margin: 0 0.5rem;
}

window#waybar {
    background-color: transparent;
}

#tray {
    padding: 0 1rem;
}

.modules-left {
    margin-left: 1rem;
}

.modules-right {
    margin-right: 2rem;
}

#clock,
#cpu,
#memory,
#wireplumber,
#tray {
    padding: 0 0.5rem;
}